@import "tailwindcss";

@theme {
  --color-primary: #4a9e72;
  --color-secondary: #f3c3f8;
}
.navlink {
  @apply hover:text-primary/90 transition-all duration-300;
}
.navlist{
  @apply flex items-center gap-1;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}